* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: lawngreen;
}

.abilities{
    display: flex;
}
.abilities div {
    width: 100px;
    height: 210px;
    /*box-sizing: border-box;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}


#value {
    border: 1px solid lawngreen;
    padding: 15px;
    font-size: 30px;
    max-height: 65px;

}

#mod {
    border: 1px solid lawngreen;
    max-height: 22px;

}

#skills {
    border: 1px solid lawngreen;
    /*height: 100%;*/
}